body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background: #33479d;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: #f1f1f1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

header {
  background-image: linear-gradient(
      rgba(51, 71, 157, 0.1),
      rgba(51, 71, 157, 0.1)
    ),
    url("../img/bookishtravels.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 220px 20px 320px 20px;
}

header h1 {
  font-size: 24px;
  font-weight: 400;
  color: #33479d;
  margin: 0;
}

header h2 {
  font-size: 96px;
  color: #33479d;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 0px 0 32px 0;
}

header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #92b4a0;
  color: #eeecde;
  padding: 24px 48px;
  border-radius: 5px;
  transition: all 600ms ease-in-out;
}

header a:hover {
  background: transparent;
  color: #92b4a0;
  border: 1px solid #92b4a0;
}

main {
  padding: 30px;
}
main h2 {
  font-size: 72px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: #33479d;
  margin: 0 0 24px 0;
  line-height: 1.25;
}

main h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #33479d;
  margin: 24px 0 0 0;
  opacity: 0.6;
  line-height: 1.25;
}

main h4 {
  color: #33479d;
  font-size: 20px;
  margin: 0;
}
main h5 {
  font-size: 16px;
  color: #33479d;
  font-weight: 400;
  margin: 0;
}

main h6 {
  font-size: 20px;
  color: #33479d;
  font-weight: 400;
  margin: 0;
  opacity: 0.6;
}

main p {
  font-size: 14px;
  opacity: 0.8;
}

select {
  display: block;
  margin: 12px auto 24px auto;
  padding: 8px 180px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

em {
  opacity: 0.7;
}

.card {
  background: #fff;
  box-shadow: 5px 5px 10px rgba(51, 71, 157, 0.1);
}

.card-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0px;
}

.card-body {
  padding: 16px;
}

.img-responsive {
  width: 100%;
}

.embed {
  width: 100%;
  aspect-ratio: 4 / 2;
}

.read,
.to-read,
.currently-reading {
  text-transform: uppercase;
  text-align: center;
  padding: 6px 16px;
  border-radius: 5px;
  display: inline-block;
  color: #f1f1f1;
  opacity: 0.7;
}

.read {
  background: #92b4a0;
}

.to-read {
  background: #fdba14;
}

.currently-reading {
  background: #33479d;
}

footer {
  background-image: linear-gradient(
      rgba(51, 71, 157, 0.5),
      rgba(51, 71, 157, 0.6)
    ),
    url("../img/bookishtravels.png");
  padding: 64px 48px;
  color: rgba(238, 236, 222, 0.9);
}

footer h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0 16px 0;
}

footer a {
  text-decoration: none;
  color: rgba(238, 236, 222, 0.9);
  background: #33479d;
  padding: 6px 16px;
  border-radius: 5px;
  transition: all 600ms ease-in-out;
}

footer a:hover {
  color: #33479d;
  background: rgba(238, 236, 222, 0.5);
  border: 1px solid #33479d;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 64px;
}
