:root {
  --primary-color: rgb(51, 71, 157);
  --secondary-color: rgb(146, 180, 160);
  --third-color: rgb(253, 186, 20);
  --light-color: rgb(248, 249, 250);
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  background: var(--primary-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  background: var(--light-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.grid-2-column {
  grid-template-columns: 1fr 2fr;
}

.card.grid-2-column {
  grid-gap: 0px;
}

.footer-grid {
  grid-template-columns: 2fr 1fr;
  grid-gap: 64px;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  color: var(--primary-color);
  margin: 0;
}

h2 {
  font-size: 72px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: var(--primary-color);
  margin: 0 0 24px 0;
  line-height: 1.25;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
  margin: 24px 0 0 0;
  opacity: 0.6;
  line-height: 1.25;
}

h4 {
  color: var(--primary-color);
  font-size: 20px;
  margin: 0;
}

h5 {
  font-size: 16px;
  color: var(--primary-color);
  font-weight: 400;
  margin: 0;
}

h6 {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 400;
  margin: 0;
  opacity: 0.6;
}

p {
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--light-color);
  border-radius: 5px;
  transition: all 600ms ease-in-out;
}

header {
  background-image: linear-gradient(
      rgba(51, 71, 157, 0.1),
      rgba(51, 71, 157, 0.1)
    ),
    url("../img/bookishtravels.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 220px 20px 320px 20px;
}

header h2 {
  font-size: 88px;
  margin: 0px 0 32px 0;
}

header a {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: var(--secondary-color);
  padding: 24px 48px;
}

header a:hover {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

section {
  padding: 40px;
}

select {
  display: block;
  margin: 12px auto 24px auto;
  padding: 8px 180px;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  opacity: 0.5;
}

em {
  opacity: 0.7;
}

.intro {
  background: #fff;
}

.intro h3 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 1;
  margin: 0 0 24px 0;
}

.card {
  background: #fff;
  box-shadow: 5px 5px 10px rgba(51, 71, 157, 0.1);
  border-radius: 10px;
}

.intro-card {
  background-color: var(--light-color);
  margin-bottom: 32px;
  padding: 32px;
}

.search {
  display: flex;
  justify-content: end;
  margin: 24px 0 32px 0;
}

label {
  padding: 8px;
  color: var(--primary-color);
}

input {
  padding: 8px;
  border-radius: 10px;
  border: none;
  font-family: Montserrat, sans-serif;
  background: rgba(51, 71, 157, 0.2);
  width: 25%;
}

input::placeholder {
  color: var(--primary-color);
  opacity: 0.6;
}

.card-header {
  background: #f8f9fa;
}

.card-body {
  padding: 16px;
}

.img-responsive {
  width: 100%;
  border-radius: 10px;
}

.embed {
  width: 100%;
  aspect-ratio: 4 / 2;
}

.embed-small {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.read,
.to-read,
.currently-reading {
  text-transform: uppercase;
  text-align: center;
  padding: 6px 16px;
  border-radius: 5px;
  display: inline-block;
  color: #f8f9fa;
  opacity: 0.7;
}

.read {
  background: var(--secondary-color);
}

.to-read {
  background: var(--third-color);
}

.currently-reading {
  background: var(--primary-color);
}

footer {
  background-image: linear-gradient(
      rgba(51, 71, 157, 0.5),
      rgba(51, 71, 157, 0.6)
    ),
    url("../img/bookishtravels.png");
  padding: 64px 48px;
  color: var(--light-color);
}

footer h3 {
  font-weight: 600;
  margin: 0;
  text-align: left;
  opacity: 0.9;
}

footer p {
  font-size: 14px;
  font-weight: 400;
  margin: 8px 0 16px 0;
  line-height: 1.5;
  opacity: 0.7;
}

footer a {
  background: var(--primary-color);
  padding: 6px 16px;
  font-size: 14px;
}

footer a:hover {
  color: var(--primary-color);
  background: var(--light-color);
  border: 1px solid var(--primary-color);
  opacity: 0.6;
}

.switch-language {
  text-decoration: none;
  background: rgba(248, 249, 250, 0.5);
  float: right;
  padding: 6px;
  color: rgba(51, 71, 157, 0.6);
  border-radius: 5px;
  margin: 8px 24px 0 0;
  transition: all 600ms ease-in-out;
}

.switch-language:hover {
  color: rgba(248, 249, 250, 0.5);
  background: rgba(51, 71, 157, 0.6);
}

@media (max-width: 960px) {
  .grid,
  .grid-2-column,
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .img-responsive {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .card {
    text-align: center;
  }

  .intro-card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 16px;
  }

  header {
    padding: 160px 20px 240px 20px;
  }

  header h2 {
    font-size: 64px;
  }

  header a {
    font-size: 16px;
    padding: 12px 24px;
  }

  select {
    padding: 8px 60px;
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
    margin: 0;
  }

  h3 {
    font-size: 12px;
  }

  h4,
  h6 {
    font-size: 16px;
  }

  h5 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  header {
    padding: 100px 20px 160px 20px;
  }

  header h2 {
    font-size: 48px;
  }

  footer h3 {
    font-size: 16px;
  }

  footer p,
  footer a {
    font-size: 12px;
  }

  .intro h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .embed {
    display: none;
  }
}
